input{
    width:100px ;
    height: 80px;
    font-size: 75px;
    border-radius: 10px;
    margin: 13px;
    background-color: #000;
    color: #fff;
    border-style: none;

}
#calform{
    text-align: center;
}